* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(80deg, rgb(0, 88, 160), rgb(0, 170, 156));
    color: #fff;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 1.7rem;
    border: none;
    outline: none;
    background: #fff;
}

form button {
    color: #009ce4; 
    background: white; 
    cursor: pointer;
    
    transition: all 200ms ease;
}

form button:hover {
    color: #fff; 
    background: #009ce4; 
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 500ms ease;
}

.todo li{
    flex: 1;
    padding-left: .8rem;
}

.trash-btn, .check-btn {
    background: #009ce4;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
    transition: all 200ms ease;
}

.trash-btn:hover {
    background: #ff4c5b;
}
.check-btn:hover {
    background: #1cdb66;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    opacity: 0.5; 
    text-decoration: line-through;
}
.fall {
    transform: translateY(5rem) rotateZ(10deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: #009ce4;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    
}

.select::after {
    content: "\25BC";  
    position: absolute;
    background: #009ce4;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: background-color 300ms ease;
}

.select:hover::after{
    background: #fff;
    color: #009ce4;
}

